<div class="container">
  <div class="row">
    <div class="center-block">
      <div class="thumbnail container-fluid text-center">
        <h1>Code & Share</h1>
        <!-- <p class="test-justify">Lorem ipsum dolor sit amet, Etiam rhoncus consectetur diam, eget volutpat velit dictum at. Aliquam cursus nunc vitae purus commodo ullamcorper. Pellentesque viverra orci dui. Pellentesque tristique nisi sed lectus suscipit convallis. Morbi luctus tempus leo sed vestibulum. Aliquam elementum viverra turpis id ullamcorper. Etiam eleifend, ipsum sed tempor mattis, sapien mi semper odio, quis vulputate magna tortor non sapien. Nulla velit nisi, vehicula at dolor vel, suscipit venenatis urna.</p> -->
         <h2>Share your stories with the world
           <br>
            and get to know the world's story
          </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", id: "homebuttons" %>
      <%= link_to "Learn more", "#", class: "btn btn-default btn-lg", id: "homebuttonl" %>
    </div>
  </div>
</div>
